<h1>My Winks</h1>

<table>
  <tr>
    <th>Match</th>
	<th></th>
    <th>Friend</th>
    <th>Status</th>
  </tr>

<% @winks.each do |wink| %>

<% user1 = User.find(wink.friend_id) %>
<% user2 = User.find(wink.match_id) %>

  <tr>
      <td style="width:96px;"><%= linkImage user2 %></td>
	<td style="width:200px;">
	<div>
	<b><%= link_to user2.f_name, user2 %></b><br/>
	<%= user2.bio %>
	</div>
	</td>
    <td style="width:96px;"><%= linkImage user1 %><div style="text-align:center;">
	<b><%= link_to user1.f_name, user1 %></b><br/>
	</div></td>
	
	

    <td><span style="font-size:14px;" class="label <%= get_status wink.status %>"><%= wink.status %></span></td>
  </tr>
<% end %>
</table>

<br />