<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @wink.user_id %>
</p>

<p>
  <b>Friend:</b>
  <%= @wink.friend_id %>
</p>

<p>
  <b>Match:</b>
  <%= @wink.match_id %>
</p>

<p>
  <b>Status:</b>
  <%= @wink.status %>
</p>


<%= link_to 'Edit', edit_wink_path(@wink) %> |
<%= link_to 'Back', winks_path %>
