<h1>Listing users</h1>

<table>
  <tr>
    <th>Facebook</th>
    <th>F name</th>
    <th>M name</th>
    <th>L name</th>
    <th>Gender</th>
    <th>Link</th>
    <th>Hometown</th>
    <th>Bio</th>
    <th>Birth day</th>
    <th>Birth month</th>
    <th>Birth year</th>
    <th>Email</th>
    <th>Timezone</th>
    <th>Location</th>
    <th>Political</th>
    <th>Quotes</th>
    <th>Relationship status</th>
    <th>Religion</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.facebook_id %></td>
    <td><%= user.f_name %></td>
    <td><%= user.m_name %></td>
    <td><%= user.l_name %></td>
    <td><%= user.gender %></td>
    <td><%= user.link %></td>
    <td><%= user.hometown %></td>
    <td><%= user.bio %></td>
    <td><%= user.birth_day %></td>
    <td><%= user.birth_month %></td>
    <td><%= user.birth_year %></td>
    <td><%= user.email %></td>
    <td><%= user.timezone %></td>
    <td><%= user.location %></td>
    <td><%= user.political %></td>
    <td><%= user.quotes %></td>
    <td><%= user.relationship_status %></td>
    <td><%= user.religion %></td>
    <td><%= user.website %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
