<h1>Browse Friends</h1>


<%= will_paginate %>

<% @users.each do |user| %>
  <div class="row" style="float:left">
	<div class="span3">
		<%= gravatar_for user %>
	</div>
	<div class="span2" style="left:-20px;">
		<div><%= link_to user.f_name + ' ' + user.l_name, user %></div>
		<div><%= user.bio %></div>
	</div>
  </div>

<% end %>

<%= will_paginate %>

<br />
<br />


<%= link_to 'New User', new_user_path %>
