<p id="notice"><%= notice %></p>


<h1>
	<%= gravatar_for @user %>
	<%= @user.f_name %>
</h1>


<!--

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>F name:</b>
  <%= @user.f_name %>
</p>

<p>
  <b>M name:</b>
  <%= @user.m_name %>
</p>

<p>
  <b>L name:</b>
  <%= @user.l_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Link:</b>
  <%= @user.link %>
</p>

<p>
  <b>Hometown:</b>
  <%= @user.hometown %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Birth day:</b>
  <%= @user.birth_day %>
</p>

<p>
  <b>Birth month:</b>
  <%= @user.birth_month %>
</p>

<p>
  <b>Birth year:</b>
  <%= @user.birth_year %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Timezone:</b>
  <%= @user.timezone %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Political:</b>
  <%= @user.political %>
</p>

<p>
  <b>Quotes:</b>
  <%= @user.quotes %>
</p>

<p>
  <b>Relationship status:</b>
  <%= @user.relationship_status %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

-->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
