<p id="notice"><%= notice %></p>


<h1>
	<%= gravatar_for @user %>
	<%= @user.f_name + " " + @user.l_name %>
</h1>



<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Relationship status:</b>
  <%= @user.relationship_status %>
</p>

<p>
  <b>Hometown:</b>
  <%= @user.hometown %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Birth day:</b>
  <%= @user.birth_day %>/ <%= @user.birth_month %>/ <%= @user.birth_year %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Quotes:</b>
  <%= @user.quotes %>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
