<h1>Your Recommended Matches</h1>

<% me = User.find(30) %>
<% match1 = User.find(5) %>
<% friend1 = User.find(18) %>
<% match2 = User.find(12) %>
<% friend2 = User.find(14) %>
<% #@newUsers = [user1, user2, user3, user4, user5, user6] %>

<h3>
<div class="row">
	<div class="span1"></div>
	<div class="span5">
		Matches
	</div>
	<div class="span6">
		Linked Through
	</div>
</div>
</h3>

<div class="row" style="float:left">
	<div class="span3">
		<%= linkImage match1 %>
	</div>
	<div class="span2" style="left:-40px; position:relative; width:120px;">
		<div><b><%= link_to match1.f_name + ' ' + match1.l_name, match1 %></b></div>
		<div><%= match1.bio %></div>
	</div>
</div>

<div class="row" style="float:left">
	<div class="span2">
		<%= linkImage friend1 %>
	</div>
	<div style="text-align:center;">
	<b><%= link_to friend1.f_name , friend1 %></b>
	</div>
</div>
<div class="row" style="float:left">
<div class="span16" style="border-bottom: 1px solid #999">
<div>
	<% @wink = Wink.new %>
	<%= form_for(@wink) do |w| %>
		<%= w.hidden_field :user_id, :value => me.id %>
		<%= w.hidden_field :friend_id, :value => friend1.id %>
		<%= w.hidden_field :match_id, :value => match1.id %>
		<%= w.hidden_field :status, :value => "pending" %>
		
		<%= w.submit "Introduce Me!", class: "btn warning large primary" %>
		<%= w.submit "Not Now!", class: "btn btn-warning warning large" %>
	<% end %>
	
	</div>
	</div>
</div>

<div class="row" style="float:left">
	<div class="span3">
		<%= linkImage match2 %>
	</div>
	<div class="span2" style="left:-40px; position:relative; width:120px;">
		<div><b><%= link_to match2.f_name + ' ' + match2.l_name, match2 %></b></div>
		<div><%= match2.bio %></div>
	</div>
</div>

<div class="row" style="float:left">
	<div class="span2">
		<%= linkImage friend2 %>
	</div>
	<div style="text-align:center;">
	<b><%= link_to friend2.f_name , friend2 %></b>
	</div>
</div>

<div class="row" style="float:left">
<div class="span16">
<div>
	<% @wink = Wink.new %>
	<%= form_for(@wink) do |w| %>
		<%= w.hidden_field :user_id, :value => me.id %>
		<%= w.hidden_field :friend_id, :value => friend2.id %>
		<%= w.hidden_field :match_id, :value => match2.id %>
		<%= w.hidden_field :status, :value => "pending" %>
		
		<%= w.submit "Introduce Me!", class: "btn warning large primary" %>
		<%= w.submit "Not Now!", class: "btn btn-warning warning large" %>
	<% end %>
	
	</div>
	</div>
</div>


