<h1>Your Recommended Matches</h1>

<% user1 = User.find(1) %>
<% user2 = User.find(5) %>
<% user3 = User.find(8) %>
<% user4 = User.find(9) %>
<% user5 = User.find(12) %>
<% user6 = User.find(14) %>
<% @newUsers = [user1, user2, user3, user4, user5, user6] %>

<h3>
<div class="row">
	<div class="span1"></div>
	<div class="span5">
		Matches
	</div>
	<div class="span6">
		Matched Through
	</div>
</div>
</h3>

<div class="row" style="float:left">
	<div class="span3">
		<%= gravatar_for user2 %>
	</div>
	<div class="span2" style="left:-40px; position:relative; width:120px;">
		<div><b><%= link_to user2.f_name + ' ' + user2.l_name, user2 %></b></div>
		<div><%= user2.bio %></div>
	</div>
</div>

<div class="row" style="float:left">
	<div class="span2">
		<%= gravatar_for_profile user3 %>
	</div>
	<div style="text-align:center;">
	<b><%= link_to user3.f_name , user3 %></b>
	</div>
	<div style="padding-left:12%;">
	<% @wink = Wink.new %>
	<%= form_for(@wink) do |w| %>
		<%= w.hidden_field :user_id, :value => user1.id %>
		<%= w.hidden_field :friend_id, :value => user3.id %>
		<%= w.hidden_field :match_id, :value => user2.id %>
		<%= w.hidden_field :status, :value => "pending" %>
		
		<%= w.submit "Wink!", class: "btn warning small primary" %>
	<% end %>

	</div>
</div>

<div class="row">
	
</div>



<div class="row" style="float:left">
	<div class="span3">
		<%= gravatar_for user4 %>
	</div>
	<div class="span2" style="left:-40px; position:relative; width:120px;">
		<div><b><%= link_to user6.f_name + ' ' + user6.l_name, user6 %></b></div>
		<div><%= user6.bio %></div>
	</div>
</div>

<div class="row" style="float:left">
	<div class="span2">
		<%= gravatar_for_profile user5 %>
	</div>
	<div style="text-align:center;">
	<b><%= link_to user5.f_name , user5 %></b>
	</div>
	<div style="padding-left:12%;">
	<% @wink = Wink.new %>
	<%= form_for(@wink) do |w| %>
		<%= w.hidden_field :user_id, :value => user5.id %>
		<%= w.hidden_field :friend_id, :value => user4.id %>
		<%= w.hidden_field :match_id, :value => user6.id %>
		<%= w.hidden_field :status, :value => "pending" %>
		
		<%= w.submit "Wink!", class: "btn warning small primary" %>
	<% end %>

	</div>
</div>

<div class="row">
	
</div>
