<!DOCTYPE html>
<html>
<head>
  <title>Wink & Link</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <h3><%= link_to "Wink & Link", "/" %></h3>
        <ul class="nav" style="float:right">
          <li><%= link_to "Profile", ""  %></li>
          <li><%= link_to "Logout", ""  %></li>
       </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
        <ul style="list-style-type: none">
          <li><%= link_to "Matches", "/matches"  %></li>
          <li><%= link_to "My Winks", winks_path  %></li>
          <li><%= link_to "Browse Network", users_path  %></li>
        </ul>
      </div>
	  
	  <div class="well">
	  	<h5>Sorting Preferences</h5>
        <ul>
          <li>Preference 1</li>
          <li>Preference 2</li>
          <li>Preference 3</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
