<!DOCTYPE html>
<html>
<head>
  <title>Wink & Link</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <h3><%= link_to image_tag("wink_logo.png", :class => "brand"), "/" %></h3>
        <ul class="nav" style="float:right">
          <li><%= link_to "Profile", ""  %></li>
          <li><%= link_to "Logout", ""  %></li>
       </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
      	<h5>Wink Links</h5>
        <ul style="list-style-type: none">
          <li><%= link_to "Recommended Matches", "/matches"  %></li>
          <li><%= link_to "My Winks", winks_path  %></li>
          <li><%= link_to "Browse Your Network", users_path  %></li>
        </ul>
      </div>
	  
	  <div class="well">
	  	<h5>Sorting Preferences</h5>
		<form  class="form-horizontal">
		<fieldset>
		<div class="control-group">
          Age: <input class="input-mini" style="width:20px" type="text" placeholder="18">
		  to
		  <input class="input-mini" style="width:20px"  type="text" placeholder="25">
    
		  <br>
	
		<div class="control-group">
      
          
          </div>
		  </fieldset>
		 </form>
        

      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
